*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
#one{
    height: 94vh;
    /* width: 100vw; */
    /* border: 2px solid red; */
    background-image: url("./ASSERTS/skin-cleanser-template-hero-img-bg.jpg");
    background-size: cover;
    
}
#nav{
    height: 13vh;
    /* border: 2px solid #f8f8ff; */
    display: flex;
    /* border-bottom: 0.1px solid #f8f8ff; */
    border-bottom: 0.1px solid #fcfafa2a;
    flex-direction: row;
}
#nav_one{
    flex-basis: 23%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
}
#nav_one a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}
#nav_two{
    flex-basis: 62%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#nav_two svg{
    height: 52%;
    width: 140px;
}

#nav_three{
    flex-basis: 15%;
    /* border: 1px solid green; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
}
#price{
    color: white;
    font-size: 14px;
    font-weight: 900;
}
#price_cart{
    display: flex;
    gap: 12px;
}
#nav_three svg{
    fill: white;
    height: 17px;
    width: 17px;
}
#one_title{
    height: calc(94vh-13vh);
    padding-left: 132px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
#welcome::selection,#best_skin::selection,#shop_btn::selection{
    color: black;
    background-color: #fa2d64;
}
#welcome{
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}
#best_skin{
    font-size: 72px;
    color: white;
    font-weight: 400;
}
#shop_btn{
    width: 120px;
    height: 42px;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    background: transparent;
    font-weight: 900;
    transition: 700ms;
}
#shop_btn:hover{
    background-color: #fff;
    color: #fa2d64;
}

/* !page2 */
#two{
    /* height: 100vh; */
    /* margin: 60%; */
    /* display: flex; */
    /* border:  2px solid red */
}
#two_content{
    width:82%;
    margin: 0 auto;  
    padding-top:100px ;
}
#two_content_one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#two_content_one p{
    font-size: 40px;
    line-height: 52px;
    font-weight: 350;
}
#two_content_one button{
    width: 120px;
    height: 52px;
    color: #fa2d64;
    border: 1px solid #fa2d64;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 2px;
    background: transparent;
    font-weight: 900;
    transition: 700ms;
}
/* *images */
#two_content_two{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 50px;
    border-radius: 5px;
}
.products img{
    height: 400px;
    width: 287px;
}
.product_type{
    font-size: 12px;
    line-height: 17px;
    color: #646467;
    font-weight: 400;
    padding-bottom: 8px;
    padding-top: 5px;

}
.product_name{
    font-size: 13px;
    font-weight: 400;
}
.product_price{
    font-size: 11px;
    color: #646467;
    font-weight: 800;
    padding-top: 5px;
}
#two_content_three{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-radius: 5px;
    padding-bottom: 100px;
}
/* !page 3 */
#three{
    height: 100vh;
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
#three_contents{
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#three_contents_one img{
    height: 620px;
    width: 440px;
}

#three_contents_two{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:30px;

}
#three_contents_two #para1{
    font-size: 40px;
    line-height: 52px;
}
.para2{
    font-size: 16px;
    line-height: 28px;
    color: #646467;
}
#read_bth{
    width: 120px;
    height: 52px;
    color: #fa2d64;
    border: 1px solid #fa2d64;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    background: transparent;
    font-weight: 700;
    transition: 700ms;
}
/* ! */
#three_after{
    height: 60vh;
    background: #f8f8ff;
}
#three_after_content{
   width: 90%;
   height: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-evenly;
    align-items: center;
    gap: 20px;
   flex-direction: column;
   /* border:  2px solid black; */
}
#one_one{
     /* flex-basis: 0.5%; */
     border: 0.5px solid #64646727;
     /* height: 0; */
     text-decoration: underline;
     width: 90%;
    
}
#one_two{
    /* flex-basis: 60%; */
    /* border: 2px solid green; */
    width: 90%; 
    display: flex;
    justify-content: space-around;
     align-items: center;
}
.three_after_content_one{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    gap: 5px;

}
.three_after_content_one #three_logo{
    height: 59px;
    width: 59px;
    /* border: 2px solid red; */
    color: #fa2d64;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 55%;
}
#three_logo:hover{
    border: 1px solid #fa2d64;
}

.para1_three_after{
    font-size: 20px;
    line-height: 24px;
}
.para2_three_after{
    font-size: 16px;
    line-height: 28px;
}


/* !3 */
#id31{
    height: 100vh;
    background-image: url("./assets/asset\ 24.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
     align-items: center;
    
 }
 #aside3{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 40px;
 }
 
 #aside3 #para_3{
 font-size: 40px;
 line-height: 52px;
 color: white;
 }
 #aside3 #video_btn{
     width: 220px;
     height: 52px;
     color: #fff;
     border: 1px solid #fff;
     font-size: 12px;
     line-height: 12px;
     letter-spacing: 2px;
     background: transparent;
     font-weight: 700;
     transition: 700ms;
 }
 
 
 
/* !pare4 */
#four{
    height: 100vh;
}
#four_contents{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
#four_contents_one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 40px;
}
#four_contents_one #span_one{
    font-size: 24px;
    line-height: 28px;
}
#four_contents_one #span_two{
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
}
#four_contents_two,#four_contents_three{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#four_contents_two img{
    height: 280px;
    width: 280px;
    padding-bottom: 20px;
}
#four_contents_three img{
    height: 280px;
    width: 280px;
    padding-bottom: 30px;
}
/* !five */
#five{
    height: 100vh;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
}
#five_contents_one{
    flex-basis: 22%;
    border:0.5px solid #6464672d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.five_contents_one_payment_Delivery{
    /* border: 2px solid red; */
    display: flex;
    height: 70px;
    width: 300px;
    gap: 5px;
    justify-content: center;
    align-items: center;
} 
.five_contents_one_payment_Delivery #logo_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo_main{
    color: #fb4b7a;
    font-size: 16px;
    line-height: 16px;
    /* border: 2px solid red; */
    height: 59px;
    width: 59px;
    border-radius: 54%;
    background: #fff;
}
.five_contents_one_para1{
     font-size: 14px;
     line-height: 17px;
     letter-spacing: 2px;
     font-weight: 400;
     text-transform: uppercase;
}
.five_contents_one_para2{
    font-size: 13px;
    line-height: 13px;
}
#five_contents_two{
    flex-basis: 59%;
    border-bottom:0.5px solid #6464672d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#five_contents_two svg{
   font-size: 16px;
   line-height: 28px;
}
#five_contents_two #links{
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#links a{
    text-decoration: none;
    color: #646467;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    transition: 500ms;
}
#links a:first-child{
    color: #fa2d64;
}
#links a:hover{
   color: #fa2d64;
}
#five_contents_two #logo{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    width: 8%;
    justify-content: space-around;
    align-items: center;
}
#five_contents_two img{
     height: 19px;
     width: 19px;  
}
#five_contents_three{
    flex-basis: 19%;
    display: flex;
    justify-content: center;
    align-items: center;

}